
		/**
		 * @covers {className}::{origMethodName}
		 */
		public function test{methodName}()
			{
				{preface}$this->assert{assertion}(
					{expected},
					$this->object->{origMethodName}({arguments})
				);
			}
